<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h3>Please note that this project's sole purpose was to integrate and work with API. There may be several reasons why you got an error.
    </h3>
    <ol>
        <li>
            Images of that place may not be available.
        </li>
        <li>
            The place may not be available.
        </li>
        <li>
            If the entered place is located in the USA, then for some places(like New York) you may get an error. <br> 
            For some places it won't throw an error. For example, San Francisco, Atlanta etc.
        </li>
    </ol>
</body>
</html>